<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>if_else_elif</title>
</head>
<body>
    <b>var1 = {{var1}}</b> </br>
    <b>var2 = {{var2}}</b> </br>
    <b>var3 = {{var3}}</b> </br>
    {% if var1 < var2 %}
        <p><i>var1 e minore di var2</i></p>
    {% elif var1 > var2 %}
        <p><i>var1 e maggiore di var2</i></p>
    {% else %}
        <p><i>var1 e uguale a var2</i></p>
    {% endif %}
    {% if var1 > var2 %}
        <p><i>var1 e maggiore di var2</i></p>
    {% elif var1 < var2 %}
        <p><i>var1 e minore di var2</i></p>
    {% else %}
        <p><i>var1 e uguale a var2</i></p>
    {% endif %}
    {% if var1 <= var2 %}
        <p><i>var1 e minore o ugual di var2</i></p>
    {% elif var1 > var2 %}
        <p><i>var1 e maggiore di var2</i></p>
    {% endif %}
    {% if var1 >= var2 %}
        <p><i>var1 e maggiore o uguale di var2</i></p>
    {% elif var1 < var2 %}
        <p><i>var1 e minore di var2</i></p>
    {% endif %}
    {% if var1 == var2 %}
        <p><i>var1 e uguale a var2</i></p>
    {% elif var1 != var2 %}
        <p><i>var1 non e uguale a var2</i></p>
    {% endif %}
    {% if var1 < var2 and var1 < var3 %}
        <p><i>var1 e minore di var2 e var1 e minore di var3</i></p>
    {% elif var1 > var2 and var1 > var3 %}
        <p><i>var1 e maggiore di var2 e var1 e maggiore di var3</i></p>
    {% endif %}
    {% if not var1 > var2 %}
        <p><i>var1 non e maggiore di var2</i></p>
    {% elif not var1 < var2 %}
        <p><i>var1 non e minore di var2</i></p>
    {% else %}
        <p><i>var1 e uguale a var2</i></p>
    {% endif %}
</body>
</html>