<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
</head>
<body>
    <ol>
        <li><a href="{% url 'prima_app:homepage'%}">home page</a></li>
        <li><a href="{% url 'prima_app:welcome'%}"></a>welcome</li>
        <li><a href="{% url 'prima_app:lista'%}"></a>lista</li>
        <li><a href="{% url 'prima_app:chi_siamo'%}"></a>chi siamo</li>
        <li><a href="{% url 'prima_app:variabili'%}"></a>variabili</li>
     </ol>
    
</body>
</html>     